%h2
  &= post.title

.content
  = format(post.content)

.meta
  Posted by
  = link_to post.user.login, posts_by_url("#{post.user.login}")
  at
  = post.created_at
  - if post.user == current_user
    = link_to 'delete', post_url(post), :method => :delete, :confirm => 'Are you sure you want to delete this?'
  
%hr/