- content_for :header do
  - if params[:hr]
    .left= link_to('Show replies', params.merge({:hr => false}))
  - else
    .left= link_to('Hide replies', {:hr => true}.merge(params))
  .clearing

- content_for :sidebar do
  %h3 Post something!
  = render :partial => 'post_form', :locals => {:post => nil}
  %p#linkinate
    Want to linkinate any page on the web? Drag this link to your bookmarks bar:
    = "[<a href=\"javascript:location.href='#{new_post_url(:only_path => false)}?return=true&post[content]='+encodeURIComponent(location.href)+'&post[title]='+encodeURIComponent(document.title)\">Linkinate this!</a>]"
  
- @posts.each do |post|
  = render :partial => 'post', :locals => {:post => post}