!!!1.1
%html
  %head
    %title Linkinator!
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'flickr'
    = stylesheet_link_tag 'default'
  %body
    #outer
      #header
        %h1= link_to_unless_current 'Linkinator!', :controller => 'posts', :action => 'latest', :hr => params[:hr]
        #control
          - if logged_in?
            .right
              Logged in as
              &= current_user.login
              = '(' + link_to('Logout', logout_url) + ')'
          = yield :header
            
      #content
        = yield
      #sidebar
        = yield :sidebar
      .clearing