!!!1.1
%html
  %head
    %title Linkinator!
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'flickr'
    = stylesheet_link_tag 'default'
  %body
    #outer
      #header
        %h1= link_to_unless_current 'Linkinator!', :controller => 'posts', :action => 'latest', :sr => params[:sr]
        #control
          - if logged_in?
            .right
              Logged in as
              = link_to current_user.login, profile_url
              = '(' + link_to('Logout', logout_url) + ')'
          = yield :header
      #content
        - if flash[:error]
          #error
            =flash[:error]
        - if flash[:message]
          #message
            =flash[:message]
        = yield
      #sidebar
        = yield :sidebar
      .clearing