!!!1.1
%html
  %head
    %title= yield :title
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'flickr'
    = stylesheet_link_tag 'default'
  %body
    #outer
      #header
        %h1= yield :title
      #content
        = yield
      #sidebar
        = yield :sidebar
      .clearing